spring:
  application:
    name: channel-gateway

  profiles:
    active: ${SPRING_PROFILES_ACTIVE}

  config:
    import:
      - classpath:/routes/outbound-domain.yml
      - classpath:/routes/inbound-domain.yml
      - classpath:/routes/gateway-routes.yml
      - classpath:/routes/white-list.yml

  cloud:
    config:
      fail-fast: true
      allow-override: true
      username: user
      password: user

    gateway:
      server:
        webflux:
          httpserver:
            wiretap: false # debugging = true
          httpclient:
            connect-timeout: 3000  # 3초 (밀리초)
            response-timeout: 5s   # 5초 (Duration)
            pool:
              type: elastic
              max-idle-time: 60s
              acquire-timeout: 45000  # 45초 (밀리초)
            compression: true
            ssl:
              handshake-timeout: 10s
              close-notify-flush-timeout: 3s
              close-notify-read-timeout: 10s
            wiretap: false # debugging = true

          global-cors:
            cors-configurations:  # kebab-case로 변경
              '[/**]':
                allowed-origin-patterns: '*'  # kebab-case로 변경
                allow-credentials: true     # kebab-case로 변경
                allowed-headers: '*'          # kebab-case로 변경
                allowed-methods:
                  - GET
                  - POST
                  - HEAD
                  - OPTIONS

          default-filters:
            - RemoveHttpHeadersFilter
            - HeaderFilter
          # 필요한 필터 추가

  # ✅ security를 최상위로 이동
  security:
    user:
      name: user
      password: user_dev


logging:
  config: classpath:logback-spring.xml
  level:
    org.springframework.cloud.gateway: INFO
    org.springframework.http.server.reactive: INFO
    org.springframework.web.reactive: INFO
    org.springframework.boot.autoconfigure.web: INFO
    reactor.netty: INFO

management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0
    propagation:
      type: w3c
    baggage:
      correlation:
        fields:
          - uri
          - svc_nation_cd
          - appNo
          - contexturl
          - useragent
          - postion
          - location
          - targetserver
          - detailmessage
          - page_no
          - device_info
          - clientIP

# server graceful 추가
server:
  shutdown: graceful
  port: 8080

  ssl:
    enabled: false
  http2:
    enabled: false

  # Response Body 압축 설정
  compression:
    enabled: true
    mime-types:
      - text/html
      - text/xml
      - text/plain
      - text/css
      - text/javascript
      - application/javascript
      - application/json
      - application/xml
      - application/x-www-form-urlencoded
    min-response-size: 1024

# HTTPS 8443
custom:
  https:
    enabled: true
    port: 8443
    keystore:
      path: classpath:keystore.p12
      password: gateway.!
      type: PKCS12
      alias: gateway

