<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty name="LOG_PATH" source="logging.file.path"/>
    <property name="CONSOLE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %clr(${LOG_LEVEL_PATTERN:-%5p}) [%thread] %clr(%-40.40logger{39}){cyan} : %msg%n"/>
    <property name="FILE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} [%thread] %-40.40logger{39} : %msg%n"/>

    <property name="LOG_PATH" value="${LOG_PATH:-${user.home}/logs/tour-api}"/>
    <property name="LOG_FILE" value="tour-api"/>

    <!-- Console Appender -->
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/old/${LOG_FILE}-%d{yyyyMMdd}.%i.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- Error File Appender -->
    <appender name="FILE_ERROR_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/old/${LOG_FILE}-error-%d{yyyyMMdd}.%i.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- SQL 로그 설정 -->
    <logger name="jdbc" level="OFF"/>
    <logger name="jdbc.sqlonly" level="OFF"/>
    <logger name="jdbc.sqltiming" level="DEBUG"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.resultsettable" level="DEBUG"/>
    <logger name="jdbc.connection" level="OFF"/>

    <!-- 프레임워크 로그 설정 -->
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.mybatis" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>

    <!-- 개발 환경 설정 -->
    <springProfile name="local">
        <logger name="com.farfarcoder" level="DEBUG"/>

        <root level="INFO">
            <appender-ref ref="CONSOLE_APPENDER"/>
            <appender-ref ref="FILE_APPENDER"/>
            <appender-ref ref="FILE_ERROR_APPENDER"/>
        </root>
    </springProfile>

    <!-- 개발 서버 환경 설정 -->
    <springProfile name="dev">
        <logger name="com.farfarcoder" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="FILE_APPENDER"/>
            <appender-ref ref="FILE_ERROR_APPENDER"/>
        </root>
    </springProfile>

    <!-- 운영 환경 설정 -->
    <springProfile name="prod">
        <logger name="com.farfarcoder" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="FILE_APPENDER"/>
            <appender-ref ref="FILE_ERROR_APPENDER"/>
        </root>
    </springProfile>

</configuration>